:root {
  --pre: #b1b2ff;
  --sec: #aac4ff;
  --tri1: #d2daff;
  --tri2: #eef1ff;
    --tri3: blue;

}

@font-face {
  font-family: light;
  src: url(./Fonts/AeonikTRIAL-Light.otf);
}
@font-face {
  font-family: normal;
  src: url(./Fonts/AeonikTRIAL-Regular.otf);
}
@font-face {
  font-family: bold;
  src: url(./Fonts/AeonikTRIAL-Bold.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

#main {
  height: 100%;
  width: 100%;
  background-color: var(--pre);
  color: white;
}

section.allElem {
  height: 100%;
  width: 100%;
  padding: 40px;
  overflow: auto;
  position: absolute;
  
}
 .allElem header{
  height: 340px;
  width: 100%;
  background-image: url(https://images.unsplash.com/photo-1675017742725-6ad13c6febf5?q=80&w=1074&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size:cover; 
  background-position: center;
  margin-bottom: 30px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  
 }

 header .header1 h1{
    font-size: 100px;
 }


 header .header1 h4{
    font-size: 100px;
 }

 header .header1 h2{
    font-size: 60px;
 }
 header .header1 h4{
    font-size: 30px;
 }
 
 header .header1 h3{
    font-size: 25px;
 }
.allElem .allFeatures{
display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
   gap: 40px;
}
.elem {
  height: 320px;
  width: 254px;
  /* padding: 30px 40px; */
  background-color: #eef1ff;
  border-radius: 10px;
  font-size: 10px;
  overflow: hidden;
  position: relative;
  transition: all ease-in 0.3s;
  cursor: pointer;
}

.elem:active {
  scale: 0.9;
}
.elem img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.elem h1 {
  position: absolute;
  bottom: 5%;
  right: 30%;
}

.fullelem{
  width: 100%;
  height: 100%;
  background-color: var(--pre);
  padding: 40px;
  display: none;
 position: absolute;
}

.back{
  position: absolute;
  right: 5%;
  padding: 15px 20px;
  font-size: 25px;
  cursor: pointer;
  background-color: red;
  border: none;
  border-radius: 5px;
  color: antiquewhite;
}
.back:active{
  scale: 0.98;
}

.todo-list-fullpage{
  background-color: black;
}

.todo-list-fullpage h1{
  font-size: 65px;
}

.todo-list-fullpage .todo-conatiner{
  height: 80%;
  width: 100%;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo-list-fullpage .todo-conatiner .addTask{
  width: 33%;
  height: 100%;
  background-color: red;
  border-radius: 10px;
}

.todo-list-fullpage .todo-conatiner .allTask{
  background-color: red;
  height: 100%;
  width: 65%;
  border-radius: 10px;
}

.todo-list-fullpage .todo-conatiner .addTask form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
}

.todo-conatiner .addTask form #task-input{
  padding: 10px 20px;
  width: 100%;
  font-size: 25px;
  border-radius: 5px;
  border: none;
}
.todo-conatiner .addTask form textarea{
  padding: 10px 20px;
  width: 100%;
  font-size: 25px;
  border-radius: 5px;
  border: none;
  margin-top: 20px;
}

.todo-conatiner .addTask form button{
  padding: 10px 20px;
  width: 100%;
  font-size: 25px;
  border-radius: 5px;
  border: none;
  margin-top: 20px;
  transition: all ease 0.3s;
  
}

.todo-conatiner .addTask form button:active{
  scale: 0.98;
}

.todo-list-fullpage .todo-conatiner .allTask {
  background-color: red;
  height: 100%;
  width: 65%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  overflow: auto;
}
.task{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  background-color: white;
  width: 100%;
  padding: 20px 30px;
  margin-bottom: 10px;
}
.task button{
  padding: 15px 30px;
  border-radius: 5px;
  border: none;
  background-color: green;
  font-size: 18px;
  font-weight: 600;
  color: #eef1ff;
}
.task button:active{
  scale: 0.98;
}
.task h5{
  color: black;
  font-size: 30px;
  font-weight: bolder;
  display: flex;
  align-items: flex-start;
  gap: 5px;
}
.task h5 span{
  background-color: red;
  color: #aac4ff;
  padding: 4px 8px;
  border-radius: 50px;
  font-size: 11px;
}
.task h5 span.true{
opacity: 1;
}
.task h5 span.false{
  opacity: 0;
}
.mark-imp{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 10px;
  padding: 10px 10px;
  margin-top: 15px;  
  width: 100%;
  gap: 30px;
}
.mark-imp input{
 scale: 1.7;
}

.mark-imp label{
 font-size: 20px;
}


.Daily-Planner-fullpage h2 {
  font-size: 70px;
}

.Daily-Planner-fullpage .day-planner{
  height: 85%;
  margin-top: 40px;
  width: 100%;
  border-radius: 10px;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  overflow: auto;
 
}

.Daily-Planner-fullpage .day-planner .day-planner-time{
  display: flex;
  align-items: center;
  position: relative;
  width: 49%;
  margin-bottom: 15px;
}
.day-planner .day-planner-time p{
  position: absolute;
  top: 12%;
  left: 2%;
  font-size: 18px;
}

.day-planner-time input {
  padding: 20px 45px;
  width: 100%;
  border-radius: 5px;
  border: none;
  font-size: 30px;
  outline: none;
  padding-top: 30px;
  background-color: red;
  color: #aac4ff;
}

.motivational-fullpage{
  position: relative;
  background-color: black;
}

.motivational-fullpage .motivation-container{
  height: 500px;
  width: 600px;
  position: absolute;
  border-radius: 50px;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.motivational-fullpage .motivation-container::after{
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: blue;
  border-radius: 50px;
  scale: 1.15;
  filter: blur(150px);
  z-index: 8;
}

.motivational-fullpage .motivation-container .motivational-wrapper{
  z-index: 10;
  position: absolute;
  width: 100%;
  background-color: rgb(255, 255, 0);
  border-radius: 30px;
  padding: 17px;
  
}

.motivation-1{
  display: flex;
 align-items: center;
 justify-content: flex-start;
}
.motivation-1 h2{
  font-size: 25px;
  font-weight: 500; 
    background-color:red;
  padding: 20px;
  border-radius: 20px;
  font-size: 20px;
  font-weight: 500; 
  text-align: right;
  width: fit-content;
}

.motivation-2{
  padding: 10px;
  margin-top: 20px;
}
.motivation-2 h1{
  font-weight: 700;
  color: black;
}

.motivation-3{
 display: flex;
 align-items: center;
 justify-content: flex-end;

}
.motivation-3 h2{
  margin-top: 25px;
   background-color:red;
  padding: 20px;
  border-radius: 20px;
  font-size: 20px;
  font-weight: 500; 
  text-align: right;
  width: fit-content;
}

.pomodoro-fullpage{
  background-color: blue;
}

.pomodoro-fullpage h2{
  font-size: 55px;
}

.pomodoro-fullpage .pomo-timer{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.pomo-timer h1{
  font-size: 160px;
}

.pomo-timer button{
  background-color: red;
  padding: 15px 40px;
  font-size: 30px;
  margin: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: 3px 3px 0px black;
  transition: all ease 0.2s;
  font-weight: 700;
  color: wheat;

}

.pomo-timer button:active{
  scale: 0.98;
}

.pomodoro-fullpage .session{
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%,0);
  background-color: red;
  padding: 15px 30px;
  font-size: 30px;
  border-radius: 5px;
}