:root {
  --pre: #b1b2ff;
  --sec: #aac4ff;
  --tri1: #d2daff;
  --tri2: #eef1ff;
}

@font-face {
  font-family: light;
  src: url(./Fonts/AeonikTRIAL-Light.otf);
}
@font-face {
  font-family: normal;
  src: url(./Fonts/AeonikTRIAL-Regular.otf);
}
@font-face {
  font-family: bold;
  src: url(./Fonts/AeonikTRIAL-Bold.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: normal;
}

html,
body {
  height: 100%;
  width: 100%;
}
#main {
  height: 100%;
  width: 100%;
  background-color: var(--pre);
  color: white;
}

section.allElem {
  height: 100%;
  width: 100%;
  padding: 40px;
  padding-top: 80px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 40px;
  position: absolute;
  
}
.elem {
  height: 320px;
  width: 250px;
  /* padding: 30px 40px; */
  background-color: #eef1ff;
  border-radius: 10px;
  font-size: 10px;
  overflow: hidden;
  position: relative;
  transition: all ease-in 0.3s;
  cursor: pointer;
}

.elem:active {
  scale: 0.9;
}
.elem img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.elem h1 {
  position: absolute;
  bottom: 5%;
  right: 30%;
}

.fullelem{
  width: 100%;
  height: 100%;
  background-color: var(--pre);
  padding: 40px;
  display: none;
 position: absolute;
}

.back{
  position: absolute;
  right: 5%;
  padding: 15px 20px;
  font-size: 25px;
  cursor: pointer;
  background-color: red;
  border: none;
  border-radius: 5px;
  color: antiquewhite;
}
.back:active{
  scale: 0.98;
}

.todo-list-fullpage{
  background-color: black;
}

.todo-list-fullpage h1{
  font-size: 65px;
}

.todo-list-fullpage .todo-conatiner{
  height: 80%;
  width: 100%;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo-list-fullpage .todo-conatiner .addTask{
  width: 33%;
  height: 100%;
  background-color: red;
  border-radius: 10px;
}

.todo-list-fullpage .todo-conatiner .allTask{
  background-color: red;
  height: 100%;
  width: 65%;
  border-radius: 10px;
}

.todo-list-fullpage .todo-conatiner .addTask form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
}

.todo-conatiner .addTask form #task-input{
  padding: 10px 20px;
  width: 100%;
  font-size: 25px;
  border-radius: 5px;
  border: none;
}
.todo-conatiner .addTask form textarea{
  padding: 10px 20px;
  width: 100%;
  font-size: 25px;
  border-radius: 5px;
  border: none;
  margin-top: 20px;
}

.todo-conatiner .addTask form button{
  padding: 10px 20px;
  width: 100%;
  font-size: 25px;
  border-radius: 5px;
  border: none;
  margin-top: 20px;
  transition: all ease 0.3;
  
}

.todo-conatiner .addTask form button:active{
  scale: 0.98;
}

.todo-list-fullpage .todo-conatiner .allTask {
  background-color: red;
  height: 100%;
  width: 65%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  overflow: auto;
}
.task{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  background-color: white;
  width: 100%;
  padding: 20px 30px;
  margin-bottom: 10px;
}
.task button{
  padding: 15px 30px;
  border-radius: 5px;
  border: none;
  background-color: green;
  font-size: 18px;
  font-weight: 600;
  color: #eef1ff;
}
.task button:active{
  scale: 0.98;
}
.task h5{
  color: black;
  font-size: 30px;
  font-weight: bolder;
  display: flex;
  align-items: flex-start;
  gap: 5px;
}
.task h5 span{
  background-color: red;
  color: #aac4ff;
  padding: 4px 8px;
  border-radius: 50px;
  font-size: 11px;
}
.task h5 span.true{
opacity: 1;
}
.task h5 span.false{
  opacity: 0;
}
.mark-imp{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 10px;
  padding: 10px 10px;
  margin-top: 15px;  
  width: 100%;
  gap: 30px;
}
.mark-imp input{
 scale: 1.7;
}

.mark-imp label{
 font-size: 20px;
}


.Daily-Planner-fullpage h2 {
  font-size: 70px;
}

.Daily-Planner-fullpage .day-planner{
  height: 85%;
  margin-top: 40px;
  width: 100%;
  border-radius: 10px;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  overflow: auto;
 
}

.Daily-Planner-fullpage .day-planner .day-planner-time{
  display: flex;
  align-items: center;
  position: relative;
  width: 49%;
  margin-bottom: 15px;
}
.day-planner .day-planner-time p{
  position: absolute;
  top: 12%;
  left: 2%;
  font-size: 18px;
}

.day-planner-time input {
  padding: 20px 45px;
  width: 100%;
  border-radius: 5px;
  border: none;
  font-size: 30px;
  outline: none;
  padding-top: 30px;
  background-color: red;
  color: #aac4ff;
}