:root {
  --pre: #b1b2ff;
  --sec: #aac4ff;
  --tri1: #d2daff;
  --tri2: #eef1ff;
}

@font-face {
  font-family: light;
  src: url(./Fonts/AeonikTRIAL-Light.otf);
}
@font-face {
  font-family: normal;
  src: url(./Fonts/AeonikTRIAL-Regular.otf);
}
@font-face {
  font-family: bold;
  src: url(./Fonts/AeonikTRIAL-Bold.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: bold;
}

html,
body {
  height: 100%;
  width: 100%;
}
#main {
  height: 100%;
  width: 100%;
  background-color: var(--pre);
  color: white;
}

section.allElem {
  height: 100%;
  width: 100%;
  padding: 40px;
  padding-top: 80px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 40px;
  position: absolute;
  
}
.elem {
  height: 320px;
  width: 250px;
  /* padding: 30px 40px; */
  background-color: #eef1ff;
  border-radius: 10px;
  font-size: 10px;
  overflow: hidden;
  position: relative;
  transition:ease-in;
  cursor: pointer;
}

.elem:active {
scale: 0.9;
}
.elem img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.elem h1 {
  position: absolute;
  bottom: 5%;
  right: 30%;
}

.fullelem{
  width: 100%;
  height: 100%;
  background-color: var(--pre);
  padding: 40px;
  display: none;
 position: absolute;
}

.back{
  position: absolute;
  right: 5%;
  padding: 15px 20px;
  font-size: 25px;
  cursor: pointer;
  background-color: red;
  border: none;
  border-radius: 5px;
  color: antiquewhite;
}
.back:active{
  scale: 0.98;
}

.todo-list-fullpage{
  background-color: black;
}

.todo-list-fullpage h1{
  font-size: 65px;
}

.todo-list-fullpage .todo-conatiner{
  height: 80%;
  width: 100%;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo-list-fullpage .todo-conatiner .addTask{
  width: 33%;
  height: 100%;
  background-color: red;
  border-radius: 10px;
}

.todo-list-fullpage .todo-conatiner .allTask{
  background-color: red;
  height: 100%;
  width: 65%;
  border-radius: 10px;
}

.todo-list-fullpage .todo-conatiner .addTask form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
}

.todo-conatiner .addTask form input{
  padding: 10px 20px;
  width: 100%;
  font-size: 25px;
  border-radius: 5px;
  border: none;
}
.todo-conatiner .addTask form textarea{
  padding: 10px 20px;
  width: 100%;
  font-size: 25px;
  border-radius: 5px;
  border: none;
  margin-top: 20px;
}

.todo-conatiner .addTask form button{
  padding: 10px 20px;
  width: 100%;
  font-size: 25px;
  border-radius: 5px;
  border: none;
  margin-top: 20px;
  transition: all ease 0.3;
}

.todo-conatiner .addTask form button:active{
  scale: 0.98;
}